<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/03141044-f5e5-4b58-a803-38a43336fb7e/resourceGroups/AgrovestoSolution/providers/Microsoft.Web/sites/TodoAPIClass</ResourceId>
    <ResourceGroup>AgrovestoSolution</ResourceGroup>
    <ApiResourceId>/subscriptions/03141044-f5e5-4b58-a803-38a43336fb7e/resourceGroups/AgrovestoSolution/providers/Microsoft.ApiManagement/service/TodoAPIClasssession/apis/TodoAPIClasssession</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://todoapiclass.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>bfbd7f5d-0ea3-4ed8-8366-a99e8269c45a</ProjectGuid>
    <MSDeployServiceURL>todoapiclass.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>TodoAPIClass</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$TodoAPIClass</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>